<!-- templates/403.html -->

{% extends "base_generic.html" %}
{% load rest_framework %}

{% block pennkey %} {% endblock %}
{% block pennkey_error %} {% endblock %}

{% block content %}


<h1>403 - Permssions Error </h1>

{% for key, value in request.session.items  %}
        <p> Key: {{ key }}  Value: {{ value }} </p>
{% endfor %}


<p>
  You do not have permission to see this page/make that action. If you are acting on behalf of another user
  please check that you have set that in the in the form above or from the homepage. For more information on this error
  please refer to the documentation <a href="/documentation">here</a>.
</p>
<p>
  If this error seems like a mistake please contact Courseware Support at librarycrf@pobox.upenn.edu.
</p>


{% if messages %}
<div class="bd-callout bd-callout-warning">
<ul class="messages">
  <h5 style="margin-bottom:0px;margin-top:0.5rem;"> Messages </h5>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


<a href='{{request.META.HTTP_REFERER}}'> <i class="fas fa-arrow-left"></i> Go Back </a>
{% endblock %}
