<!-- templates/403.html -->

{% extends "base_generic.html" %}
{% load rest_framework %}

{% block pennkey %} {% endblock %}
{% block pennkey_error %} {% endblock %}

{% block content %}


<h1>403 - Permssions Error </h1>


<br><br>

<p>
  You do not have permission to see this page/make that action. If you are trying to proxy as another user in order to request their sites
  please check that you have set that in the in the form at the top of each page or from the homepage. For more information on this error
  please refer to the documentation <a href="/documentation">here</a>.
</p>
<p>
If this error seems like a mistake please contact Penn Canvas Support at canvas@pobox.upenn.
edu.
</p>






{% if messages %}
<div class="bd-callout bd-callout-info">
<ul class="messages">
  <h4 style="margin-bottom:0px;margin-top:0.5rem;"> Messages </h4>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


<a href='{{request.META.HTTP_REFERER}}'> <i class="fas fa-arrow-left"></i> Go Back </a>
<br>
<br>
{% if request.session.items %}

    <div class="card card-body">
      <h6 style="margin-bottom:0px;margin-top:0.5rem;"> Debugging </h6>
    <ul style="font-size:0.8rem;">
      {% for key, value in request.session.items  %}
              <li> Key: {{ key }}  Value: {{ value }} </li>
      {% endfor %}
    </ul>
  </div>

{% endif %}

{% endblock %}
