<!-- templates/404.html -->
{% extends "base_generic.html" %}

{% block pennkey %} {% endblock %}
{% block pennkey_error %} {% endblock %}

{% block content %}

<h1>404 Page Not Found</h1>
<p>if this seems like a mistake please contact librarycrf@pobox.upenn.edu</p>


{% if messages %}
<div class="bd-callout bd-callout-warning">
<ul class="messages">
  <h5 style="margin-bottom:0px;margin-top:0.5rem;"> Messages </h5>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


<a href='{{request.META.HTTP_REFERER}}'> <i class="fas fa-arrow-left"></i> Go Back </a>
{% endblock %}
