{% extends "base_generic.html" %}
{% load rest_framework %}
{% block autoadd %}active{% endblock %}

{% block content %}
<div class="medium-container">


<h1> AutoAdd</h1>

<p> Results({{ results|length }}) </p>
<!--<p> previous{{ data.previous }} </p>
<p> next{{ data.next}} </p>
<p> num_pages{{ data.total_pages}} </p> -->

<p>&lt add AutoAdd button to form here &gt</p>

  <table class="striped-table">
    <thead>
      <tr>
        <th>User</th>
        <th>School</th>
        <th>Subject</th>
        <th>Role</th>
        <th>Edit / Remove</th>

      </tr>
    </thead>
    <tbody>
      {% for request in results %}
      <tr>
        <td> {{request.user}} </td>
        <td>{{request.school}}</td>
        <td>{{request.subject}}</td>
        <td>{{request.role }}</td>
        <td>edit and remove buttons here</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

<!-- PAGINATION -->
{% if paginator %}
  <nav aria-label="Page navigation" class="vertical-center">
    {% get_pagination_html paginator %}
  </nav>
{% endif %}




</div>
{% endblock %}
