{% load rest_framework %}
{% load template_extra %}

<!-- this is used for ALMOST EVERY TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Canvas Site Automation for UPenn">
    <meta name="keywords" content="">

    <title>Course Request Form</title>
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- boostrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- fonts -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">




    {% load static %}
    <script src="{% static "rest_framework/js/jquery-3.3.1.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon_book.ico' %}">
  <style>
  /* this is for the autocomplete and its issues with modals */
    .select2-container {
      z-index: 9999999999 !important;
      }
      .select2-selection__arrow b {
            border-color: #000 transparent transparent transparent !important;
                border-width: 9px 5px 0 5px !important;
      }

     /*.select2-container--default */
     .select2-container--default .select2-selection--single {
        /*display: block !important;*/
        width: 100% !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        height: 35px !important;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem !important;

      }

      .select2-container {

    width: 100% !important;
}
  </style>
    <script  type="text/javascript" href="{% static 'js/request_form.js' %}"> </script>

</head>

  <body>




    <header class="flex-row" style="margin-left:0px;margin-right:0px;z-index:2;">



      {% block pennkey %}
      <!-- REQUEST ON BEHALF OF // MASQUERADE -->
      {% if request.session.on_behalf_of %}
        <div class="flex-small" id="masquerade" style="background:#f7d6a2">
          <form method="POST" action="/">
            {% csrf_token %}
          <small> Requesting as '{{ request.session.on_behalf_of }}' </small>
          <input type="hidden" id="name" value='' name="on_behalf_of" >
          <button>
            <i class="fas fa-user-times" data-toggle="tooltip" data-placement="bottom" title="click to stop requesting on behalf of {{ request.session.on_behalf_of }}"></i>
          </button>
        </form>
      </div>
      {% else %}

        <div class="flex-small" id="masquerade">
            <small> Request on behalf of user </small>
            <!-- Button trigger modal -->
            <button data-toggle="modal" data-target="#AddOnBehalf">
              <i class="fas fa-user-plus" data-toggle="tooltip" data-placement="bottom" title="click to request on behalf of a user"></i>
            </button>
        </div>
      {% endif %}

      {% endblock %}


      <!-- logout / login info -->
      <div class="flex-small text-right" id="sign_in">
        {% if user.is_authenticated %}

        <a href="/accounts/logout" style="padding-right:15px;"><!-- "" -->
          {{ user.username }},  logout
          <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
        <a href="/accounts/login" style="padding-right:15px;">
          login
          <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
      </div>
     </header>



     <!-- MASQUERADE Modal START -->
     <!-- i like the example from here:https://getbootstrap.com/docs/4.3/components/forms/#auto-sizing -->
     <div class="modal fade" id="AddOnBehalf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Request On Behalf Of User</h5>
             <div class="close" data-dismiss="modal" aria-label="Close">
               <i class="fas fa-times"></i>
             </div>
           </div>
           <div class="modal-body">
             {% if  user.is_authenticated %}
             <form class="" method="POST" action="/" style="display:inherit;max-width:500px;margin-left:auto;margin-right:auto;">
               {% csrf_token %}
               <label for="name">User's Pennkey</label>
               <div class="input-group mb-3">
                {% if messages %}
                    <input name="on_behalf_of" type="text" class="form-control has-error" placeholder="pennkey" aria-label="User's Pennkey" required>
                {% else %}
                  <input name="on_behalf_of" type="text" class="form-control" placeholder="pennkey" aria-label="User's Pennkey" required>
                {% endif %}
               <div class="input-group-append">
                 <button style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;margin-left: -1px;height: 100%;z-index: 0" >Submit</button>
               </div>
             </div>
             {% if messages %}
                {% for message in messages %}
                  <b{% if message.tags %} class="{{ message.tags }} vertical-center" {% endif %}>{{ message }}</b><br>
                {% endfor %}
              {% endif %}
             </form>
             {% else %}
             <div>
               <p> Invalid permission. Please <a href="accounts/login">login</a> </p>
             </div>
             {% endif %}

           </div>
         </div>
       </div>
     </div>
     <!-- Modal END -->



    <div class="primitive">
    <div class="flex-container">
      <aside class="fixed">
        <div class="toggle-nav"></div>
        <h1> <a href="/"> CRF</a></h1>
        <nav style="display: none;" >
          <ul>
              <li class="title">Main</li>
              <li><a class="{% block home %}{% endblock %}" href="/">Home</a></li>
              <li><a class="{% block requests %}{% endblock %}" href="/requests">Requests</a></li>
              <li class="title">Browse</li>
              <li><a class="{% block courses %}{% endblock %}" href="/courses">Courses</a></li>
              <li><a class="{% block schools %}{% endblock %}" href="/schools">Schools</a></li>
              <li><a class="{% block subjects %}{% endblock %}" href="/subjects">Subjects</a></li>

              {% if staff %} {# and user.is_authenticated #}

              <li class="title">Admin</li>
              <li><a href="/admin">Admin Portal</a></li>
              <li><a href="/autoadds" class="{% block autoadd %}{% endblock %}">Manage Auto-Adds</a></li>
              <li><a href="/logs" class="{% block bulkupdates %}{% endblock %}">Manage Logs/Updates</a></li>
              <li><a href="/userlookup" class="{% block userlookup %}{% endblock %}">User Lookup</a></li>
              <li><a href="/courselookup" class="{% block courselookup %}{% endblock %}">Course Lookup</a></li>

              <li class="title">temporary</li>
              <li><a href="/emails">Emails</a></li>
              {% endif %}









              <!-- logout / login info -->
              <li id="side_sign_in">
                {% if user.is_authenticated %}
                <a href="accounts/logout">
                  {{ user.username }},  logout
                  <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a href="accounts/login">
                  login
                  <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
              </li>
          </ul>
        </nav>
        <div style="flex-grow:1;"></div>
      <!--
        <div id="references" class="medium-container vertical-center" style="padding-bottom:10px;">
      <b><a href="https://docs.google.com/document/d/1-VcUr70xOlAPwPH07CB61_CwVDw18QlrE_3KFPhYK7o/edit?usp=sharing" aria-label="temporary documentation">Docs</a></b>
      <b><a href="/contact">Contact</a></b>
      <img src="{% static 'images/penn_libraries_logo.png' %}" style="height:50px;margin:0px 10px;">
    </div>
    -->
          <div id="references" class="medium-container vertical-center" style="padding-bottom:10px;">
              <center style="margin-bottom:20px;">
                <b ><a href="/documentation" aria-label="temporary documentation">Docs</a></b> <span>|</span> <b><a href="/contact">Contact</a></b>
              </center>
              <a href='https://www.library.upenn.edu/vanpelt'> <img src="{% static 'images/penn_libraries_logo.png' %}" style="height:50px;margin:0px 10px;"></a>
              <!--&nbsp;//&nbsp; 'images/2016-shield-only-RGB-1k.png' -->

          </div>

      </aside>


      <main class="content margin" id="main-content">
        <div class="medium-container">
            <!-- sign in banner -->
            {% include "bits/banner.html" %}

           {% block content %}{% endblock %}
         </div>
      </main>
    </div> <!-- end flex-container -->
</div> <!-- end primitive -->
</body>



  <!--<script src="https://taniarascia.github.io/primitive/js/prism.js"></script>-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="https://taniarascia.github.io/primitive/js/example.js"></script>-->
    <script  type="text/javascript" href="{% static 'js/request_form.js' %}"> </script>
<script>
////// Enable Tool-tips //////
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

///// Toggle Nav /////
$('.toggle-nav').click(function (e) {
  if ($('.toggle-nav').hasClass('active')) {
    $('.toggle-nav').removeClass('active');
  } else {
    $('.toggle-nav').addClass('active');
    $('#references').hide();
  }
  $('aside nav').toggle();
  e.stopPropagation();

});
//$('html').click(function () {
//  $('aside nav').hide();
//  $('.toggle-nav').removeClass('active');
//  $('#references').show();
//});

///// Toggle Notices /////
$('.close-notification i').click(function (e) {
  if ($('blockquote').hasClass('show')) {
    $('blockquote').removeClass('show'); // removing the show class adds the expand icon
    //$('.message').hide();
    $('#notice').hide();
    $('.default').show();
    $('.close-notification').addClass('vertical-center');
    $('.close-notification i').removeClass('fa-times');
    $('.close-notification i').addClass('fa-plus');
  } else {
    $('blockquote').addClass('show');
    //$('.message').show();
    $('#notice').show()
    $('.default').hide();
    $('.close-notification').removeClass('vertical-center');
    $('.close-notification i').removeClass('fa-plus');
    $('.close-notification i').addClass('fa-times');
  }
});

//// Enable Tooltips ////
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})



/// FOR REQUEST FORM ADDITIONAL ENROLLMENTS ///
function addrow(){
  // should get length !
  var num = document.getElementById("additional_enrollments").childElementCount;
  var node = document.createElement("DIV");
  node.setAttribute("id","addEnroll-"+num);
  node.setAttribute("class","row vertical-center");
  //node.appendChild(y);
  var id = "'additional_enrollments','addEnroll-"+num+"'";
  var name_user ="'additional_enrollments["+num+"][user]'"
  var name_role ="'additional_enrollments["+num+"][role]'"
  node.insertAdjacentHTML('beforeend',"<label style='width: 45%;'> User (pennkey) <input name="+name_user+" value='' class='form-control' type='text'> </label> <label> Role  <select id='choose' name="+name_role+" > <option disabled selected>Please select</option> <option value='TA'>TA</option> <option value='DES'>Designer</option> <option value='LIB'>Librarian</option><option value='INST'>Instructor</option> </select> </label><a onClick=removeElement("+id+"); style='padding-left:5px;'> Delete <i class=\'fas fa-times\'></i></a>");
  document.getElementById("additional_enrollments").appendChild(node);
}

function removeElement(parentDiv, childDiv){
     if (childDiv == parentDiv) {
          alert("The parent div cannot be removed.");
     }
     else if (document.getElementById(childDiv)) {
          var child = document.getElementById(childDiv);
          var parent = document.getElementById(parentDiv);
          parent.removeChild(child);
     }
     else {
          alert("Child div has already been removed or does not exist.");
          return false;
     }
}




</script>


{% block template_page_js %}{% endblock %}



<!-- if there has been an issue with masquerade form -->
{% block pennkey_error %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
    <script>
    $(document).ready(function(){
        $("#AddOnBehalf").modal("toggle");
    });
    </script>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}

<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
<script>
  window.drf = {
    csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
    csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
  };
</script>
<!--<script src="{% static "rest_framework/js/jquery-3.3.1.min.js" %}"></script>-->
<script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
<script src="{% static "rest_framework/js/csrf.js" %}"></script>
 <!--<script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>-->
<script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
<script src="{% static "rest_framework/js/default.js" %}"></script>
<script>
  $(document).ready(function() {
    /*test*/
    $('form').ajaxForm();
  });
</script>
</html>
