{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}


<!-- see for date format info https://docs.djangoproject.com/en/2.1/ref/settings/#date-input-formats -->

{% block content %}



  <!-- add filtering bit -->

<h1>Canvas Sites</h1>
<p> Here are all of your Canvas Sites that are recognized by the CRF. If you are not listed as an instructor the course may not be listed.</p>
<!--<p> The results here are limited to yours or the person you are masquerading as.</p>-->
<!--   <i class="fas fa-info-circle"></i> -->


<!-- FILTERING-->
{#{% include "bits/filter_content.html" %} #}

<!--  <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <p> {{request}}</p>
  </button> -->



<!-- TABLE -->

  <table class="striped-table">
    <thead>
      <tr>
        <th>Canvas ID</th>
        <th>Name</th>
        <th>SIS ID</th>
        <th>Workflow State</th>
        <th>Request</th>
        <th>Permissions</th>
        <th>Added Permissions</th>
      </tr>
    </thead>
    <tbody>
      {% for site in results %}
      <tr>
        <td> <a href='{% url "UI-canvas_site-detail" canvas_id=site.canvas_id %}'>{{site.canvas_id}}</a></td>
        <td> {{site.name}}</td>
        <td> {{site.sis_course_id}}</td>
        <td> {{site.workflow_state}}</td>
        <td> {{site.request_instance}}</td>
        <td> {{site.owners|join:", "}}</td> <!-- edit this to add the custom permissions-->
        <td> {{site.added_permissions|join:", "}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


<!-- END TABLE -->





<!-- MODAL FILTERING-->
  {% include "bits/filter_modal.html" %}





  <!-- PAGINATION -->
  {% include "bits/paginator.html" %}

{% endblock %}


{% block template_page_js %}



{% endblock %}
