{% extends "base_generic.html" %}


{% block content %}


<!-- https://wsvincent.com/django-contact-form/ -->


  <h1>Contact</h1>
  <p>If this is your first time on the new site please take a moment to give some feedback by filling out a breif google form <a href="https://goo.gl/forms/1hjbGK2Y5wnBYk0E2">here</a> (<a href="https://goo.gl/forms/1hjbGK2Y5wnBYk0E2">https://goo.gl/forms/1hjbGK2Y5wnBYk0E2</a>).</p>
  <p>
  If you have any feed back on this site or encounter any issues please forward them to librarycrf@pobox.upenn.edu <!--or fill out the form below: --></p>

<!--
  <div class="card" >
    <h5 class="card-header no-margin-top">Contact Form</h5>
    <div class="card-body">
      <form role="form" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Send <i class="far fa-paper-plane"></i>

          </button>
      </form>
    </div>
  </div>
<br>
<br>
-->
{% endblock %}
