{% extends "base_generic.html" %}
{% load rest_framework %}


{% block content %}

  <!-- course info -->
{% include "bits/course_info.html" %}

<!-- end course info -->



<!-- Request Form -->
  {% if not course.requested %}

  <fieldset >
  <legend>Canvas Site Options</legend>
  <form action="{% url 'UI-request-list' %}" method="post" id="RequestForm">
  {% csrf_token %}
  <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
  <input name='course_requested' value='{{course.course_code}}' type='hidden'>
<!--  {% render_form request_form %} -->


  {% include "bits/request_form.html" %}



  <input type="submit" value="Submit Request" />
  </form>
  </fieldset>



  {% else %}
  <!-- course request history -->
  <fieldset >
    <legend>Submitted Request</legend>

    {% include "bits/request_form_disabled.html" %}

    <a href="{% url 'UI-request-detail' pk=course.course_code %}"> See Full Request</a>
  </fieldset>
  {% endif %}
<!-- end request form -->


<!-- Canvas Site info -->
{% include "bits/canvas_site_info.html" %}
<!-- END Canvas Site info -->









{% endblock %}
