{% extends "base_generic.html" %}


{% block content %}
<div class="medium-container">
<h1>Courses Detail</h1>

{% for key, value in course.items %}
  <p>  {{ key }}: {{ value }} </p>
{% endfor %}





  <form action="" method="GET" > <!--switch this back to POST later -->
    {{course.requested}}
    {% if course.requested == True %}
        <!-- this button should pull up the submitted request! -->
        <button type="submit" class="muted-button" >Requested</button>
            <a href='{{coure.id}}'> go to request detail </a>

    {% else %}


      <!--  <input type="hidden" name="requested" value="true">
        <button type="submit" class="button" >Request</button>-->

        <!-- Button trigger modal -->
        <button class="button" href="/">
          Request
        </button>
    {% endif %}
</form>



<p> &lt button that links to admin view to edit &gt </p>

</div>






{% endblock %}
