
{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block content %}


<h1> User Documentation </h1>
<h4>
  <a href="https://docs.google.com/document/d/e/2PACX-1vQmPyukmwTmgefEnMPYttYZCzzsF2ZNS_eNtu60fhZDAu32omnLGc7V08qQz7Vt7t5Ab09q3OLP7bnf/pub" target="_blank">
    Link to full document
  </a>
</h4>
<p>For any issues or questions please email librarycrf@pobox.upenn.edu and a Courseware Support team member will be in contact with you.</p>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vQmPyukmwTmgefEnMPYttYZCzzsF2ZNS_eNtu60fhZDAu32omnLGc7V08qQz7Vt7t5Ab09q3OLP7bnf/pub?embedded=true" style="height: 100%;width: 100%;">
    </iframe>

<style>
.medium-container {
  height:80%;
}
</style>

<!-- add report issue -->



{% endblock %}
