
{% extends "base_generic.html" %}
{% load template_extra %}
{% block home %}active{% endblock %}

{% block content %}

<!-- this page is populated with the content from the UserSerializer -->




  {% if data.notice %}
    <div style="max-width:950px;padding-top:30px;">


    <blockquote class="show">
      <div style="width:100%;" id="notice">
      <p class="message"> <!--<b>{{ data.notice.notice_heading }}</b> <br> -->
          {{ data.notice.get_notice_as_markdown }}
          {% if staff %}
        <a href="{%  url 'admin:course_notice_change'	data.notice.pk %}" style="float:right;"> (change this message) </a>
        {% endif %}
      </div>
      <p class="default" style="display:none;width: -webkit-fill-available;margin: 0.5rem 0;font-family: Menlo;font-size: 14px;">
        expand to see message
      </p>

      <div class='close-notification' style="height:40px;">
        <i class="fas fa-times" style="font-size:20px;height:20px;"></i>
      </div>
    </blockquote>
    </div>
    {% endif %}

  <!--  <div class="homepage small-container" style="border: none;box-shadow: none !important;">
      <p>
        TEMPORARY TEXT:  this site is for Faculty/TAs/Staff to make requests for the creation Canvas Sites for SRS-sites.
        This site pulls data from the registrar's site and stores data from the current term and the next two terms.
        For the creation of non-SRS sites please see <a href="https://infocanvas.upenn.edu/about/policies/#non-course"> https://infocanvas.upenn.edu/about/policies/#non-course </a>.
      </p>
    </div>
-->


    <div class="homepage-container">
      <dt style="margin-bottom: 1rem;">Contact Info</dt>
      {% if request.session.on_behalf_of %}
        {% get_user request.session.on_behalf_of as masq_user %}
        <dl class="row" style="line-height:1.1;margin-bottom:0;">
          {% if masq_user.last_name and masq_user.first_name %}
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">User: </dt>
            <dd class="col-8 col-md-10"> {{masq_user.first_name }} {{masq_user.last_name}} </dd>
          {% endif %}
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Penn Key: </dt>
            <dd class="col-8 col-md-10"> {{masq_user.username}}</dd>
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Penn ID: </dt>
            <dd class="col-8 col-md-10"> {{ masq_user.profile.penn_id}}</dd>
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Email: </dt>
            <dd class="col-8 col-md-10"> {{ masq_user.email|default:"None" }}</dd>
        </dl>
        {% else %}
        <dl class="row" style="line-height:1.1;margin-bottom:0;">
          {% if user.first_name and user.last_name %}
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">User: </dt>
            <dd class="col-8 col-md-10"> {{user.first_name }} {{user.last_name}} </dd>
          {% endif %}
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Penn Key: </dt>
            <dd class="col-8 col-md-10"> {{user.username}} </dd>
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Penn ID: </dt>
            <dd class="col-8 col-md-10"> {{user.profile.penn_id}}</dd>
            <dt class="col-4 col-md-2 text-right" style="padding-right: 0px;">Email: </dt>
            <dd class="col-8 col-md-10"> {{user.email|default:"None" }}</dd>
        </dl>
        <p class="text-right" style="margin-bottom:0;font-weight:500;padding-right:25px;">(<a href="{% url 'userinfo' %}" class="" style="">Edit Info</a>)</p>
        {% endif %}

    </div>



    <div class="homepage-container">
      <dt>Request site on behalf of user:</dt>
    <form class="" method="POST" action="{% url 'home' %}" style="display:inherit;max-width:500px;margin-left:auto;margin-right:auto;">
      {% csrf_token %}
      <label for="name">User's Pennkey</label>
      <div class="input-group mb-3">
      <input name="on_behalf_of" type="text" class="form-control" placeholder="pennkey" aria-label="User's Pennkey" required>
      <div class="input-group-append">
        <button style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;margin-left: -1px;height: 100%;z-index: 0" >Submit</button>
      </div>
    </div>
    </form>
    </div>


    <!-- have all of these tables be collapsible -->
    <div class="homepage-container">
    <dl>
     <dt>Site Requests ({{data.site_requests_count}})</dt>
     <dd> Here are site requests completed by the current user or on their behalf </dd>
    </dl>
    {% if data.site_requests %}
     <table class="striped-table">
       <thead>
         <tr>
           <th>Section</th>
           <th>Title</th>
           <th>Requestor</th>
           <th>Date Requested</th>
           <th>Status</th>
         </tr>
       </thead>
       <tbody>
         {% for request_instance in data.site_requests %}
         <tr>
           <td><a href="{% url 'UI-request-detail' pk=request_instance.course_requested.course_code %}"> {{request_instance.course_requested}} </a></td>
           <td>{{request_instance.course_requested.course_name }}</td>
           <td>{{request_instance.owner}}
             {% if request_instance.masquerade %}
             ({{request_instance.masquerade}})
             {% endif %}
           </td>

           <td> {{ request_instance.created|time:'h:ia' }} {{ request_instance.created|date:"SHORT_DATE_FORMAT" }}</td>
           <td>{{request_instance.status}}
             {% if request_instance.status == 'LOCKED' %}
               <i class="fas fa-lock" data-toggle="tooltip" data-placement="top" title="" data-original-title="this request will not be processed until unlocked by admin"></i>
             {% endif %}
           </td>
         </tr>
           {% endfor %}
       </tbody>
     </table>
     <div class="vertical-center">
       <a href="{% url 'UI-request-list' %}?requestor={% if request.session.on_behalf_of %}{{request.session.on_behalf_of}}{% else %}{{user.username}}{% endif %}">see more </a>
     </div>
     {% else %}
    <center><p> No requests for this user... </p></center>
    {% endif %}

    </div>

    <div class="homepage-container">
    <dl>
      	<dt>Courses ({{data.srs_courses_count}})</dt>
      	<dd>SRS Course Assignments  </dd>
     </dl>
      {% if data.srs_courses %}
       <table class="striped-table">
         <thead>
           <tr>
             <th>Section</th>
             <th>Title</th>
             <th>Activity</th>
             <th id="instructors">Instructor</th>
             <th>Request Status</th>
           </tr>
         </thead>
         <tbody>
           {% for course in data.srs_courses %}
           <tr>
             <td><a href='{% url "UI-course-detail" course_code=course.course_code %}'>{{course}} </a></td>
             <td>{{ course.course_name }}</td>
             <td>{{ course.course_activity }}</td>

             <td id="instructors">
               {{ course.get_instructors }}
             </td>

             <td style="padding-left:1%;">
               {% if course.requested == True %}
                   <a  href='{% url "UI-request-detail" pk=course.course_code %}' class="button muted-button" data-toggle="tooltip" data-placement="top" title="click to see details" style="padding: 0.35rem 0.35rem;">Requested</a>
               {% else %}
                   <button class="button" data-toggle="modal" data-target="#CourseModal" data-course="{{course.course_code}}" style="padding:0.35rem 0.35rem;">
                     Request
                   </button>
               {% endif %}
             </td>
           </tr>
          {% endfor %}
         </tbody>
       </table>
       <div class="vertical-center"><a href="{% url 'UI-course-list' %}?instructor={% if request.session.on_behalf_of %}{{request.session.on_behalf_of}}{% else %}{{user.username}}{% endif %}">see more </a></div>
       {% else %}
       <center><p> No courses for this user... </p></center>
       {% endif %}
    </div>



    <div class="homepage-container">
     <dl>
     	<dt>Canvas Sites ({{data.canvas_sites_count}})</dt>
     	<dd>Existing Canvas Sites (either an instructor or custom permission)</dd>
    </dl>
      {% if data.canvas_sites %}
      <table class="striped-table">
        <thead>
          <tr>
            <th>Title </th>
            <th>SIS ID</th>
            <th>Request</th>
            <th>Workflow State</th>
          </tr>
        </thead>
        <tbody>
          {% for site in data.canvas_sites %}
            <tr>
              <td>{{site.name}}</td>
              <td>{{site.sis_course_id}}</td>
              <td>
                {% if site.request_instance %}
                <a href="{% url 'UI-request-detail' site.request_instance %}">request</a>
                {% else %}
                None
                {% endif %}
              </td>
              <td>{{site.workflow_state}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="vertical-center"><a href="{% url 'UI-canvas_site-list' %}">see more </a></div>
      {% else %}
      <center><p> No Canvas Sites for this user... </p></center>
      {% endif %}
    </div>



    <!-- Modal -->
    <!-- simplify with this https://getbootstrap.com/docs/4.0/components/modal/#varying-modal-content -->

    {% include "bits/quick_request_modal.html" with view_type="home" %}

  <!-- END COURSE REQUEST MODAL -->


 {% endblock %}


 {% block template_page_js %}
 <script>
 // For the Course List View
 $('#CourseModal').on('show.bs.modal', function (event) {
   var button = $(event.relatedTarget) // Button that triggered the modal
   var course = button.data('course') // Extract info from data-* attributes
   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
   var modal = $(this)
   modal.find('.modal-title').text('Basic Request for ' + course)
   modal.find(".modal-footer input[name='course_requested']").val(course)
   modal.find(".modal-footer a").attr("href", '/courses/'+course+'#RequestForm')
 })
 </script>
 {% endblock %}
