{% extends "base_generic.html" %}
{% load rest_framework %}
{% block requests %}active{% endblock %}

{% block content %}
<div class="medium-container">


<h1> Requests</h1>


<!--<p> previous{{ data.previous }} </p>
<p> next{{ data.next}} </p>
<p> num_pages{{ data.total_pages}} </p> -->

<p>&ltFiltering goes here&gt</p>

  <table class="striped-table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Title</th>
        <th>Requestor</th>
        <th>Date Requested</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for request in results %}
      <tr>
        <td><a href='{% url "UI-request-detail" pk=request.course_info.course_SRStitle %}'> {{request.course_requested}} </a></td>
        <td>{{request.course_info.course_name}}</td>
        <td>{{request.owner}}
          {% if request.masquerade %}
          ({{request.masquerade}})
          {% endif %}
        </td>

        <td>{{request.created }}</td>
        <td>{{request.status}}
          {% if request.status == 'LOCKED' %}
            <i class="fas fa-lock" data-toggle="tooltip" data-placement="top" title="" data-original-title="this request will not be processed until unlocked by admin"></i>
          {% endif %}
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

  <!-- PAGINATION -->
  {% if paginator %}
    <nav aria-label="Page navigation" class="vertical-center">
      {% get_pagination_html paginator %}
    </nav>
  {% endif %}





</div>
{% endblock %}
