{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}
{% block content %}

<!--<h1>Request Detail</h1> -->


<fieldset id="RequestForm">
  <legend>Request for {{request_instance.course_info|asrepr}}</legend>




    {% include "bits/request_form_disabled.html" with enrollments=request_instance.additional_enrollments course=request_instance.course_info %}



  <!-- BUTTONS -->

    <div class="row" style="margin-left:7px;margin-top:2.5rem;margin-bottom:.5rem;">

    {% if 'cancel' in permissions %}
    <!-- Button trigger modal -->
    <button style="margin-right:20px" class="cancel" data-toggle="modal" data-target="#cancelModal">
      Cancel
    </button>

    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Canceling Request</h5>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
          </div>
          <div class="modal-body">
            <p>
              If you Cancel this Request, it will be <b>automatically deleted in 20 minutes</b> and all of the associated Courses will be requestable again.
            </p>
          </div>
          <div class="modal-footer">
            <button class="button accent-button" data-dismiss="modal">Close</button>
            <form action="{% url 'UI-request-detail' pk=request_instance.course_requested %}" method="put" >
              <input type="hidden" name="status" value="CANCELED">
              <input type="hidden" name="course_requested" value="{{request_instance.course_requested}}">
              <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
              <button type="submit"  style="margin-right:20px" class="cancel" >Cancel Request</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if 'edit' in permissions %}
      <a href="{% url 'UI-request-detail-edit' pk=request_instance.course_requested %}" class="button" style="margin-right:20px;">Edit Request <i class="fas fa-edit"></i></a>
    {% endif %}
  </div>

{% if staff %}
<fieldset>
  <legend><h6 style="margin:0;">Admin</h6></legend>
  <div class="row" style="margin-left:7px;margin-top:.5rem;">
    {% if 'lock' in permissions %}
      <form action="{% url 'UI-request-detail' pk=request_instance.course_requested %}" method="put" >
        <input type="hidden" name="status" value="LOCKED">
        <input type="hidden" name="course_requested" value="{{request_instance.course_requested}}">
        <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
        <button type="submit" class="button accent-button" style="margin-right:20px;">Lock <i class='fas fa-lock'></i> </button>
      </form>
    {% endif %}
    {% if 'unlock' in permissions %}
      <form action="{% url 'UI-request-detail' pk=request_instance.course_requested %}" method="put" >
      <input type="hidden" name="status" value="SUBMITTED">
      <input type="hidden" name="course_requested" value="{{request_instance.course_requested}}">
        <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
      <button type="submit" class="button muted-button" style="margin-right:20px;">UNLOCK <i class='fas fa-unlock'></i> </button>
      </form>
    {% endif %}
    {% if 'create' in permissions %}
    <form action="{% url 'UI-request-detail' pk=request_instance.course_requested %}" method="put" >
      <input type="hidden" name="status" value="APPROVED">
      <input type="hidden" name="course_requested" value="{{request_instance.course_requested}}">
      <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
      <button type="submit"  style="margin-right:20px" class="create" >Approve Site <i class="fas fa-check-circle"></i></button>
    </form>
    {% endif %}
  </div>

      <div class="form-group ">
        <label>
          Admin Notes
        </label>
        <textarea name="admin_additional_instructions" class="form-control" disabled> {{ request_instance.admin_additional_instructions }}</textarea>
        <p>
          <a href="{% url 'admin:course_request_change' request_instance.course_requested %}" target="_blank"><i class="fas fa-external-link-alt"></i> Edit Request Info in Admin Portal </a>
        </p>
      </div>
</fieldset>

{% endif %}



  <!--<p> permissions should be: {{ permissions }} - this will be removed later </p> -->

</fieldset>


<!-- Course Info -->
{% include "bits/course_info.html" with course=request_instance.course_info %}



<!-- Canvas Site info -->
{% include "bits/canvas_site_info.html" with course=request_instance.course_info %}



{% endblock %}
