{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block content %}

<!--<h1>EDIT Request Detail</h1>-->


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- DETAIL -->
<fieldset id="RequestForm">
  <legend>EDITING Request for {{request_instance.course_info|asrepr}}</legend>

  <dl class="row" style="line-height:1.1;">
        <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Status</dt>
        <dd class="col-8 col-md-9"> {{ request_instance.status }}</dd>
        <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Requestor</dt>
        <dd class="col-8 col-md-9"> {{ request_instance.owner }}
          {% if request_instance.masquerade %}
            ( as {{ request_instance.masquerade}} )
          {% endif %}
        </dd>

        <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Created</dt>
        <dd class="col-8 col-md-9"> {{ request_instance.created }}</dd>
        <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Updated</dt>
        <dd class="col-8 col-md-9"> {{ request_instance.updated }}</dd>
  </dl>

  {% if request_instance.course_info.crosslisted %}
  <div class="row" style="padding:0px 0px 0px 20px;">
    <dt class="" style="padding-right: 0px;">Request includes Crosslistings:</dt>
    <dd class="" style="padding-left: 10px;"> {{ request_instance.course_info.crosslisted| join:", " }}</dd>
  </div>
  {% endif %}
<!--END DETAIL -->

  <form enctype='application/json' action="{% url 'UI-request-detail' pk=request_instance.course_requested %}" method="put" id="RequestForm">
      {% csrf_token %}
      <input name="view_type" class="form-control" type="hidden" value="UI-request-detail">
      <input name='course_requested' value='{{request_instance.course_requested}}' type='hidden'>

      {% include "bits/request_form.html" with course=request_instance.course_info %}
      <input type="submit" value="Update Request" />
  </form>
</fieldset>

<!-- Course Info -->
{% include "bits/course_info.html" with course=request_instance.course_info %}
<!-- Canvas Site info -->
{% include "bits/canvas_site_info.html" with course=request_instance.course_info copy_from_course=request_instance.copy_from_course %}


{% endblock %}




{% block template_page_js %}
<script>



function formUpdateContentCopy() {
  // #id_name > option:nth-child(2)
  var hi = document.querySelector("#id_name > option:nth-child(2)").value;
  //input name=copy_from_course
  $('input[name="copy_from_course"]').val(hi);
  console.log(hi);
  $('#ContentCopy').modal('hide');
  //document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
}
// before submit lets add all the additional_enrollments
/*
$('.form').onsubmit( function () {

});
*/

// removes null query_params ! <3
/*$('form[method="put"]').submit(function(){
    $(this).find(':input').each(function() {
        var inp = $(this);
        if (!inp.val()) {
            inp.remove();
        }
    });
});*/
/*
$('form[method="put"]').submit(function(){
  console.log("updated request values:");
    $(this).find(':input:not([type=hidden])').each(function() {
        var inp = $(this);
        if (inp.val()) {
            if (inp.val()=='None'){ inp.val('');}
            //if(inp.attr("name"=='reserves'){ inp.val() = 'True' })
            console.log(inp.attr("name"),": ", inp.val());
        }
      //  if (!inp.val()) {
        //    inp.remove();}
    });
});
*/

</script>

{% endblock %}
