{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}
{% block content %}


<h1> Request Created </h1>
<p>
  You have successfully submitted a Request for a Canvas Site for the Course {{ request_instance.course_info|asrepr }}.
</p>

<p>
  {{ settings.BASE_URL }}
You can see the request here: <a href="{% url 'UI-request-detail' pk=request_instance.course_requested %}">{% url 'UI-request-detail' pk=request_instance.course_requested %}</a>.
Site requests are approved during business hours by Courseware Support Staff. Sites usually take an hour to be created but, can require slighlty more time if there are many requests.
When the course site has been created, you will be sent a notification email from librarycrf@pobox.upenn(<i> currently emailing has been disabled</i>).
</p>

<p>
Please visit <a href="https://infocanvas.upenn.edu/">Canvas at Penn</a> (<a href="https://infocanvas.upenn.edu/">https://infocanvas.upenn.edu/</a>) for Canvas instructions, news, and help.
</p>

<!--<h5 style="margin-bottom:0;">Other Canvas Features Here at Upenn</h5>
<p>
  Library Lounge is a Penn Libraries initiative that incorporates instructional videos on research skills and methods into Canvas course sites.
   Would you like a librarian to reach out to you about using Library Lounge in your course?
<br>
To learn more, please visit the <a href="https://commons.library.upenn.edu/library-lounge"> Library Lounge website.</a>
  <p>
-->
<hr>
<div class="bd-callout bd-callout-info" class="w-100" style="margin-bottom: 5%;">
{% get_markdown "Request-Created" %}

{% if staff %}
  {% get_markdown_id 'Request-Created' as page_id %}
  {% if page_id %}
  <a href="{%  url 'admin:course_pagecontent_change' page_id %}" style="float:right;margin-top:-15px"> (change this message) </a>
  {% else %}
  <a href="{%  url 'admin:course_pagecontent_add' %}" style="margin-top:-15px"> (add a message here) </a>
  {% endif %}
{% endif %}
</div>
{% endblock %}
