{% extends "base_generic.html" %}
{% load rest_framework %}

{% block content %}


<h1> Request Created </h1>
<p>
  You have successfully submitted a Request for a Canvas Site for the Course {{request_instance.course_requested}}.
</p>

<p>
You can see the request <a href="{% url 'UI-request-detail' pk=request_instance.course_requested %}">here</a>.
When the cousre site has been created you will be sent a notification email from librarycrf@pobox.upenn.
</p>

<p>
  Please refer to the <a href="https://infocanvas.upenn.edu/guides/canvas-for-facultystafftas/course-design-and-setup/">Canvas Documentation for Faculty, Staff, and TAs</a>
  for more information about course design and Canvas features.
</p>

<p> ADD CONTENT ABOUT LIBRARY LOUNGE </p>
<p>
  Library Lounge is a Penn Libraries initiative that incorporates instructional videos on research skills and methods into Canvas course sites.
   Would you like a librarian to reach out to you about using Library Lounge in your course?
<br>
To learn more, please visit the <a href="https://commons.library.upenn.edu/library-lounge"> Library Lounge website.</a>
  <p>



{% endblock %}
