{% extends "base_generic.html" %}
{% load rest_framework %}
{% block schools %}active{% endblock %}
{% block content %}
<div class="medium-container">

  <h1> Schools</h1>

  <p> Results({{ results|length}}) </p>
  <!--<p> previous{{ data.previous }} </p>
  <p> next{{ data.next}} </p>
  <p> num_pages{{ data.total_pages}} </p> -->

  <p> &lt each name should link to Courses filtered by that variable &gt </p>
    <p> &lt need to handle authentication of last column &gt </p>
    <table class="striped-table">
      <thead>
        <tr>
          <th  style="padding-left:15px;">Name</th>
          <th>Abbr.</th>
          <th>Visibility</th>
        </tr>
      </thead>
      <tbody>
        {% for school in results %}
        <tr>
          <td style="padding-left:15px;">{{school.name}}</td>
          <td>{{school.abbreviation}}</td>
          <td>
            <form action="/api/schools/1/" data-method="PUT"  novalidate="">
            <!-- <form action="{% url 'school-detail' pk=1 %}" method="POST"> -->
              {% csrf_token %}
                {% if school.visible == True %}
                <button type="submit" class="button" > <b>REMOVE</b> <i class="fas fa-minus-square"></i></button>
              TRUE (click button to remove)
                {% else %}

                <button class="button" > <b>ADD</b> <i class="fas fa-plus-square"></i></button>
                FALSE (click button to add)
              {% endif %}
          </form>
          </td>
        </tr>
          {% endfor %}
      </tbody>
    </table>

    <!-- PAGINATION -->
    {% if paginator %}
      <nav aria-label="Page navigation" class="vertical-center">
        {% get_pagination_html paginator %}
      </nav>
    {% endif %}



</div>
{% endblock %}
