{% extends "base_generic.html" %}
{% load rest_framework %}
{% block schools %}active{% endblock %}
{% block content %}
{% load template_extra %}

  <h1> Schools</h1>


  <!--<p> previous{{ data.previous }} </p>
  <p> next{{ data.next}} </p>
  <p> num_pages{{ data.total_pages}} </p> -->
  <div class="bd-callout bd-callout-info" class="w-100" style="margin-bottom: 5%;">

  {% get_markdown "School-List" %}
  {% if staff %}
    {% get_markdown_id 'School-List' as page_id %}
    {% if page_id %}
      <a href="{%  url 'admin:course_pagecontent_change' page_id %}" class="card-link" style="float:right;margin-top:-15px"> (change this message) </a>
    {% else %}
      <a href="{%  url 'admin:course_pagecontent_add' %}" class="card-link" style="margin-top:-15px"> (add a message here) </a>
    {% endif %}
  {% endif %}

  </div>

    <table class="striped-table">
      <thead>
        <tr>
          <th style="width:40%;">Name</th>
          <th style="width:10%;">Abbr.</th>
          {% if staff %}
          <th>Subaccount ID</th>
          {% endif %}
          <th>Visibility</th>

        </tr>
      </thead>
      <tbody>
        {% for school in results %}

        <tr>
          {% if school.visible == True %}
          <td><a href="/schools/{{ school.abbreviation }}/">{{school.name}}</a></td>
          {% else %}
          <td>{{school.name}}</td>
          {% endif %}
          <td>{{school.abbreviation}}</td>
          {% if staff %}
          <td>{{school.canvas_subaccount|stringformat:"i"}}</td>
          {% endif %}

          <td>

            <!-- <form action="{% url 'school-detail' pk=1 %}" method="POST"> -->
            {% if staff %}
                {% if school.visible == True %}
                <!--  -->
                <button class="button" data-toggle="modal" data-target="#SchoolModal" data-school="{{school.name}}" data-abbr="{{school.abbreviation}}" data-id="{{ school.id }}" data-visible='false'>
                  <b>REMOVE ALL</b> <i class="fas fa-minus-square"></i>
                </button>
            <!--  TRUE (click button to remove)-->
                {% else %}
                <!-- data-school="{{school.name}}" data-abbr="{{school.abbreviation}}" data-id="{{ school.id }}" data-visible='true' -->
                <button class="button" data-toggle="modal" data-target="#SchoolModal" data-school="{{school.name}}" data-abbr="{{school.abbreviation}}" data-id="{{ school.id }}" data-visible='true'>
                  <b>ADD ALL</b> <i class="fas fa-plus-square"></i>
                </button>
                <!-- FALSE (click button to add)-->
              {% endif %}
            {% else %}
              {% if subject.visible == True %}
                TRUE
              {% else %}
                  FALSE
              {% endif %}
            {% endif %}


          </td>
        </tr>
          {% endfor %}
      </tbody>
    </table>


    <!-- Modal -->
    <!-- simplify with this https://getbootstrap.com/docs/4.0/components/modal/#varying-modal-content -->

    <div class="modal fade" id="SchoolModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"> Change Visibility </h5>
            <div class="close" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <form id="form" action="" data-method="PUT" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="modal-body">
                <p> Are you sure that you want to change the visibility? This will change the visibility
                of all of the subjects associated with this school too. </p>
              </div>
              <div class="modal-footer">
                <input name="name" type="hidden" class="form-control" type="text" value="">
                <input name="abbreviation" type="hidden" class="form-control" type="text" value="">
                <input name="visible" type="hidden" class="form-control" type="text" value="">

                <button type="submit" value="save" style="font-weight: 600;">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>




    <!-- PAGINATION -->
    {% include "bits/paginator.html" %}



{% endblock %}


{% block template_page_js %}
<script>
// For the school List View
$('#SchoolModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var school = button.data('school') // Extract info from data-* attributes
  var id = button.data('id')
  var vis = button.data('visible')
  var abbr = button.data('abbr')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  console.log(school,id,vis)
  $('#form').attr('action', '/schools/' + abbr + '/')
  var modal = $(this)

  modal.find('.modal-title').text('Change Visibility for: ' + school)
  modal.find(".modal-footer input[name='name']").val(school)
  modal.find(".modal-footer input[name='abbreviation']").val(abbr)
  modal.find(".modal-footer input[name='visible']").val(vis)
})
$(document).ready(function() {
        $('form').ajaxForm();
    });
</script>


{% endblock %}
