{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block content %}

  <fieldset>
  <legend>User Info</legend>
  <dl class="row">
    {% if request.session.on_behalf_of %}
      {% get_user request.session.on_behalf_of as masq_user %}
      <dl class="row" style="line-height:1.1;margin-bottom:0;">
        {% if masq_user.last_name and masq_user.first_name %}
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">User: </dt>
          <dd class="col-8 col-md-9"> {{masq_user.first_name }} {{masq_user.last_name}} </dd>
        {% endif %}
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Penn Key: </dt>
          <dd class="col-8 col-md-9"> {{masq_user.username}}</dd>
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Penn ID: </dt>
          <dd class="col-8 col-md-9"> {{ masq_user.profile.penn_id}} </dd>
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Email: </dt>
          <dd class="col-8 col-md-9"> {{ masq_user.email|default:"None" }}</dd>
      </dl>
      {% else %}
      <dl class="row" style="line-height:1.1;margin-bottom:0;">
        {% if user.first_name and user.last_name %}
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">User: </dt>
          <dd class="col-8 col-md-9"> {{user.first_name }} {{user.last_name}} </dd>
        {% endif %}
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Penn Key: </dt>
          <dd class="col-8 col-md-9"> {{user.username}} </dd>
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Penn ID : </dt>
          <dd class="col-8 col-md-9"> {{user.profile.penn_id}}</dd>
          <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Email: </dt>
          <dd class="col-8 col-md-9"> {{user.email|default:"None" }}</dd>
      </dl>
      {% endif %}
  </dl>


{% if request.session.on_behalf_of %}

  <p class="vertical-center"> <mark>You cannot edit the info if you are Masquerading as someone.</mark>  </p>

{% else %}
  <form role="form" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update</button>
  </form>
  <p class="vertical-center"> please contact librarycrf@pobox.upenn.edu to edit any other account info </p>

{% endif %}
</fieldset>







{% endblock %}
