{% extends "base_generic.html" %}
{% load rest_framework %}
{% block courselookup %}active{% endblock %}
{% block content %

{% block content %}



<h1> Course Lookup</h1>

<p> Does something seem wrong about a course? Lets see if they exist in the Registrar Data ( IN PROGRESS :, the CRF and if they exist in Canvas!). Labs are not listed as courses
    <br>
    <mark>All of this is still in progress!--If you get an error page the Cron Job is probably using the API token so try again later. </mark>
</p>



<dl>
	<dt>Course Id</dt>
	<dd>All capitalized Subject code ( e.g. ACCT, MATH) plus the course number (optional) and section (optional) (e.g. ACCT101001 , ACCT101, ACCT)</dd>
	<dt>Year/Term</dt>
	<dd>Full numerical year appended by uppercase term letter </dd>
  <dt>Instructor ** optional ** </dt>
  <dd>valid pennkey (all lowecase)</dd>
</dl>

<fieldset> <legend>Course Lookup</legend>
<form>
  <div class="flex-row">
    <div class="flex-large">
    <label for="course_id">Course Id</label>
    <input type="text" id="course_id" name="course_id" placeholder="Course Id">
    </div>
    <div class="flex-large">
    <label for="term">Year/Term</label>
    <input type="text" id="term" name="term" placeholder="e.g. 2019C">
    </div>
    <div class="flex-large">
    <label for="instructor">Instructor</label>
    <input type="text" id="instructor" name="instructor" placeholder="pennkey">
  </div>
</div>
    <input type="submit" value="Submit">
</form>
</fieldset>


<p> results ({{size}})</p>
<fieldset style="height:600px;padding:1rem 0rem 1rem 0rem;">
<pre style="overflow:auto;height:-webkit-fill-available;">
   {{data | pprint}}
 </pre>
</fieldset>



<!--
<fieldset id="showresults">
  <legend>CRF Data</legend>
  <p> search to load basic data from the CRF</p>
</fieldset>

<fieldset id="showresultscanvas">
  <legend>Canvas Data</legend>
  <p> search to load basic user data from canvas</p>
</fieldset>
-->
{% endblock %}

{#
{% block template_page_js %}
<script src="dist/json-formatter.js"></script>
<script>
const myJSON = '{{data|escapejs}}';

const formatter = new JSONFormatter(myJSON);

document.body.appendChild(formatter.render());
</script>
{% endblock %}
#}
