{% extends "base_generic.html" %}
{% load rest_framework %}

{% block bulkupdates %}active{% endblock %}

{% block content %}
<div class="medium-container">

  <center> <h1> ~Still in development~</h1></center>
  <h1>Bulk Updates</h1>
  <p> Here will be a UI to give information on the update log. This will be similar to the 'Update Log' in the current CRF, but will
    have actual detailed information of the updates that have been made.
  </p>


  {% comment %}
  <p> There will be a div detailing the last update timestamp, time till next, and a button to force an update/run of certain management processes </p>

  <ul>
  {% for task in data %}
    <li>{{ task.name }} {{task.schedule }} enabled: {{task.enabled}}, last run at {{task.last_run_at}}</li>

  {% endfor %}
</ul>
  <fieldset>
    <legend>Task Processing </legend>
    <table>
      <thead>
        <tr>
          <!-- headers -->
          <th scope="col">Task Name</th>
          <th scope="col">Enabled</th>
          <th scope="col">Frequency</th>
          <th scope="col">Last Run</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"> Validate Requests</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
        </tr>

        <tr>
          <td scope="row"> Site Creation</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
        </tr>
        <tr>
          <td scope="row">Registrar Sync</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
        </tr>
        <tr>
          <td scope="row">Canvas Sync </td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
          <td> x</td>
        </tr>

      </tbody>
    </table>


    <!-- NOTE: the details should be a link to the most recent tasklog for that task type -->

    <div style="font-size: 1rem;">
      <p > <i>Validate Requests</i> - when a 'submitted' request is checked for errors </p>
      <p > <i>Site Creation</i> - when a 'in process' request is created in Canvas</p>
    </div>
      <small> please refer to <a href="https://raw.githubusercontent.com/Mfhodges/CRF2/master/wiki/request_process.png">this diagram</a> for more info on the request process</small>

  </fieldset>
{% endcomment %}


  <fieldset>
    <legend>One off tasks </legend>
    <p>
      Here are all of the tasks you can force to run now
    </p>
    <table>
      <thead>
        <tr>
          <th scope="col">Task Name</th>
          <th scope="col">Description</th>
          <th scope="col">Last Run</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Process Requests</td>
          <td> <a data-toggle="popover" tabindex="0" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fas fa-info-circle"></i></a></td>
          <td> <button id="#viewRequests" onclick="viewRequests()" class="muted-button"> View Recent </button></td>
          <td> <button id="#processRequests" onclick="processRequests()"> Run </button></td>
        </tr>
        <tr>
          <td scope="row"> One-off 2</td>
          <td> x</td>
          <td> <a data-toggle="popover" tabindex="0" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fas fa-info-circle"></i></a></td>
          <td> <button> run </button></td>
        </tr>
        <tr>
          <td scope="row"> One-off 3</td>
          <td> x</td>
          <td> <a data-toggle="popover" tabindex="0" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fas fa-info-circle"></i></a></td>
          <td> <button> run </button></td>
        </tr>

   </tbody>
   </table>
  </fieldset>

<fieldset id="oneOffTasks" style="display:none;">
  <legend></legend>

    <div id="loader" style="display:none;"></div>
    <pre id="json" style="overflow:auto;height:-webkit-fill-available;display:none">

     </pre>
</fieldset>


<fieldset>
  <legend>Helpful Tools</legend>
  <ul>
    <li><a href="https://esb.isc-seo.upenn.edu/8093/jsp/registerUser.jsp"> Create Canvas Account</a></li>
    <li><a href="https://canvas.upenn.edu/accounts/96678/sis_import"> SIS Import</a></li>
    <li><a href="https://esb.isc-seo.upenn.edu/8093/jsp/research.jsp"> Enrollment Research</a></li>
  </ul>

</fieldset>

</div>





{% endblock %}

{% block template_page_js %}

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});
$('.popover-dismiss').popover({
  trigger: 'focus'
});

function viewRequests() {
  console.log('running');
  $.ajax({
    url: '/admin/view_requests',
    type: 'GET',
    beforeSend: function() {
        console.log("beforesend");
        $("#oneOffTasks").css("display","block");
        $("#oneOffTasks > legend").text("Viewing: Requests");
        $("#json").css("display","none");
        $("#loader").css("display","block");
    },
     success: function(result){
       console.log("success");
       console.log(result);
       var myJSON = JSON.stringify(result,undefined,2);
       console.log(myJSON);
       $("#loader").css("display","none");
       $("#json").css("display","block");
       document.getElementById("json").innerHTML = myJSON;
       $("#json").css("height","300px")
  }});
};





//$(document).ready(function(){
function processRequests() {
  console.log('running');
  $.ajax({
    url: '/admin/process_requests',
    type: 'GET',
    beforeSend: function() {
        console.log("beforesend");
        $("#oneOffTasks").css("display","block");
        $("#oneOffTasks > legend").text("Running: Requests");
        $("#json").css("display","none");
        $("#loader").css("display","block");
    },
     success: function(result){
       console.log("success");
       console.log(result);
       var myJSON = JSON.stringify(result,undefined,2);
       console.log(myJSON);
       $("#loader").css("display","none");
       $("#json").css("display","block");
       document.getElementById("json").innerHTML = myJSON;
       $("#json").css("height","300px")
  }});
};
//});

// document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);

/*
jQuery.ajax({
    type: "POST",
    url: 'YOU_URL_TO_WHICH_DATA_SEND',
    data:'YOUR_DATA_TO_SEND',
    beforeSend: function() {
        $("#loaderDiv").show();
    },
    success: function(data) {
        $("#loaderDiv").hide();
    }
});

*/

</script>
{% endblock %}
