<!-- course/templates/admin/request_summary_change_list.html-->
{% extends "admin/change_list.html" %}
{% load humanize %}
{% block content_title %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <h1> Requests Summary </h1>
    <p> <mark> PSOM is BGS </mark>. Time zone needs to be confirmed to be correct.</p>
{% endblock %}
{% block object-tools-items %}
  <li>
    <a href='#' onclick='downloadCSV({ filename: "Request_Summary.csv" });' >
     Save Table <i class="fas fa-file-download"></i>
    </a>
  </li>
{% endblock %}
{% block result_list %}

    <!--Our content goes here…-->
{% comment %}<p>({{summary|length}})</p><p>{{summary}}</p>
<b>
<p>{{summary_over_time}}</p> {% endcomment %}

<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">School</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Multi-Section</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Ares</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Content Copy</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Not Completed</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Requests</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.course_requested__course_schools__abbreviation }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.multisection | intcomma }} </td>
        <td> {{ row.ares | intcomma }} </td>
        <td> {{ row.content_copy | intcomma }} </td>
        <td> {{ row.not_completed | intcomma }} </td>
        <td>
          <strong>
          {% widthratio row.total summary_total.total 100 %}%
          </strong>
        </td>
      </tr>
      {% endfor %}
      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> {{ summary_total.total | intcomma }} </td>
            <td> {{ summary_total.multisection | intcomma }} </td>
            <td> {{ summary_total.ares | intcomma }} </td>
            <td> {{ summary_total.content_copy | intcomma }} </td>
            <td> {{ summary_total.not_completed | intcomma }} </td>
            <td> 100% </td>
        </tr>
    </tbody>

  </table>

  <h2>Request time (by {{ period}}) </h2>
    <style>
    .download {
    	content: "\f56d";
    	font-family: 'FontAwesome';
    }

    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
        min-height:1px !important;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }

    </style>
    <div class="results">
        <div class="bar-chart">
        {% for x in summary_over_time %}
            <div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.total | default:0 | intcomma }}<br>
                    {% if period == "hour" %}
                      {{x.period | date:"m/d/Y H:i"}}
                    {% else %}
                      {{x.period | date:"m/d/Y"}}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        var totalSummary = {{summary_total|safe}};
        console.log(totalSummary)
        totalSummary['course_requested__course_schools__abbreviation']='TOTAL';
        //delete totalSummary['total'];
        console.log(totalSummary)
        var stockData = {{summary|safe}};
        stockData.push(totalSummary);
        console.log(stockData)
        function convertArrayOfObjectsToCSV(args) {
            var result, ctr, keys, columnDelimiter, lineDelimiter, data;

            data = args.data || null;
            if (data == null || !data.length) {
                return null;
            }

            columnDelimiter = args.columnDelimiter || ',';
            lineDelimiter = args.lineDelimiter || '\n';

            keys = Object.keys(data[0]);

            result = '';
            result += keys.join(columnDelimiter);
            result += lineDelimiter;

            data.forEach(function(item) {
                ctr = 0;
                keys.forEach(function(key) {
                    if (ctr > 0) result += columnDelimiter;

                    result += item[key];
                    ctr++;
                });
                result += lineDelimiter;
            });
            return result;
        }

        window.downloadCSV = function(args) {
            var data, filename, link;
            var csv = convertArrayOfObjectsToCSV({
                data: stockData
            });
            if (csv == null) return;
            filename = args.filename || 'export.csv';
            if (!csv.match(/^data:text\/csv/i)) {
                csv = 'data:text/csv;charset=utf-8,' + csv;
            }
            data = encodeURI(csv);
            link = document.createElement('a');
            link.setAttribute('href', data);
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
           }
    </script>



</div>
</div>

{% endblock %}
{% block pagination %}{% endblock %}
