{% extends "base_generic.html" %}
{% load rest_framework %}

{% block bulkupdates %}active{% endblock %}

{% block content %}
<div class="medium-container">

  <h1>Bulk Updates</h1>
  <p> Here will be a UI to give information on the update log. This will be similar to the 'Update Log' in the current CRF, but will
    have actual detailed information of the updates that have been made.
  </p>

  <p> There will be a div detailing the last update timestamp, time till next, and a button to force an update now</p>

</div>


{% endblock %}
