{% extends "base_generic.html" %}
{% load rest_framework %}
{% block userlookup %}active{% endblock %}
{% block content %

{% block content %}


<h1> Canvas User Lookup</h1>
<p> Does something seem wrong about a User? Lets see if they exist in the CRF and if they exist in Canvas!
   Canvas Course sites listed are those with teacher enrollment status.
</p>

<form id="myForm" action="#" onsubmit="submitForm();return false;">

  <label style="width: 45%;">
    User
  <input name="user" type="text" id="pennkey">
  {{ form2.username }}
  </label>


</form>
<div>
   <button class="apireq">click me </button>
</div>

{{ form2.media }}



<fieldset id="showresults">
  <legend>CRF Data</legend>
  <p> search to load basic data from the CRF</p>
</fieldset>



<fieldset id="showresultscanvas">
  <legend>Canvas Data</legend>
  <p> search to load basic user data from canvas</p>
</fieldset>

{% endblock %}




{% block template_page_js %}
<script>

function submitForm() {
  $('.apireq').click();
  return false;
}

/*$(document).ready(function(){
    $("#pennkey").autocomplete({
        source: "/ajax_calls/search/",
        minLength: 2,
        open: function(){
            setTimeout(function () {
                $('.ui-autocomplete').css('z-index', 99);
            }, 0);
        }
      });
});
*/

// ajax call

  $('.apireq').click( function() {
        var pennkey = $("#pennkey").val();
        console.log(pennkey);
        $.ajax({
                 url : `/api/users/${pennkey}`,
                 dataType: "json",
                 success : function (data) {
                        console.log(data);
                        var test = data;
                        $('#showresults').empty().append("<legend>CRF Data</legend>");
                        for ( const element in data) {
                          console.log(element, data[element]);
                          if (Array.isArray(data[element])){
                            $('#showresults').append(`<p>${element}:</p>`);
                            var items = data[element];
                            var ul = document.createElement('ul');
                            document.getElementById('showresults').appendChild(ul);
                            items.forEach(function (item) {
                                var li = document.createElement('li');
                                ul.appendChild(li);
                                li.innerHTML += item;
                            });
                          }
                          else {
                            $('#showresults').append(`<p>${element}: ${data[element]}</p>`);
                          }
                        };
                        console.log(data.username)
                      },
                error: function (xhr, status) {
                   $('#showresults').empty().append("<legend>CRF Data</legend><p>Sorry, there was a problem! Check that this user exists in the CRF</p>");
              }
                     });


       $.ajax({
                url : `/canvasuser/${pennkey}`,
                dataType: "json",

                success : function (data) {
                       console.log(data);
                       var test = data;
                       $('#showresultscanvas').empty().append("<legend>Canvas Data</legend>");
                       for ( const element in data) {
                         console.log(element, data[element]);
                         if (Array.isArray(data[element])){
                           $('#showresultscanvas').append(`<p>${element}:</p>`);
                           var items = data[element];
                           var ol = document.createElement('ol');
                           document.getElementById('showresultscanvas').appendChild(ol);
                           items.forEach(function (item) {
                               var li = document.createElement('li');
                               ol.appendChild(li);
                               li.innerHTML += JSON.stringify(item);
                           });
                         }
                         else {
                           $('#showresultscanvas').append(`<p>${element}: ${data[element]}</p>`);
                         }
                       };
                       console.log("ok");
                       console.log(data.username)
                     },
               error: function (xhr, status) {
                 $('#showresultscanvas').empty().append("<legend>Canvas Data</legend><p>Sorry, there was a problem! Check that this user exists in Canvas.</p>");
                  

             }
           });

// both of these work !
// https://canvas.upenn.edu/api/v1/users/sis_login_id:mfhodges
// https://canvas.upenn.edu/api/v1/users/sis_user_id:89450759
/*
beforeSend : function( xhr ) {
    xhr.setRequestHeader( "Authorization", "BEARER " + access_token );
}
*/



                 });

/*
FROM THE DOCS

The partial name or full ID of the users to match and return in the results list. Must be at least 3 characters.

Note that the API will prefer matching on canonical user ID if the ID has a numeric form.
It will only search against other fields if non-numeric in form, or if the numeric value doesn't yield any matches.
 Queries by administrative users will search on SIS ID, login ID, name,
  or email address; non-administrative queries will only be compared against name.

*/


</script>
{% endblock %}
