
{% load rest_framework %}
{% load template_extra %}


  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'info' %}

      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin:10px;z-index:inherit;">
      <h4 class="alert-heading">Welcome!</h4>
      <!--<strong>strong text!</strong>-->

      {% get_markdown "Welcome-Banner" %}
      {% if staff %}

        {% get_markdown_id 'Welcome-Banner' as page_id %}
        {% if page_id %}
          <a href="{%  url 'admin:course_pagecontent_change' page_id %}" style="float:right;margin-top:-15px"> (change this message) </a>
        {% else %}
          <a href="{%  url 'admin:course_pagecontent_add' %}" style="margin-top:-15px"> (add a message here) </a>
        {% endif %}
      {% endif %}
  <!--<p>
      Courses taught through Graduate School of Education (GSE), Penn Law, The School of Veterinary Medicine, and Wharton cannot be requested through our Course Request Form.
      </p>
      <p> For further assistance setting up your course site please contact the appropriate address below.  </p>
      <ul>
      <li>Graduate School of Education (GSE): gse-help@lists.upenn.edu | <a href="https://gseit.gse.upenn.edu/canvas/course-request">GSE Site Request Form </a></li>
      <li>Law: itshelp@law.upenn.edu </li>
      <li>Wharton: courseware@wharton.upenn.edu | <a href="https://support.wharton.upenn.edu/help/requesting-a-canvas-site">Wharton Site Request Info</a></li>
    </ul>-->
    <!--  <hr>
      <p class="mb-0">If you believe you are receiving this message in error, please contact canvas@pobox.upenn.edu</p> -->
      <div class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
