{% load rest_framework %}
{% load template_extra %}

<div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Filter </h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <form id="filterform" action="" method="GET">
          <div class="modal-body">
            <p><mark> no validation and date filtering doesnt work.</mark></p>
                {{ filter.form.as_p }}
          </div>
          <div class="modal-footer">
            <button onSubmit="mySubmitFunction()" id="submit-id-" type="submit" value="Submit" style="font-weight: 600;">Filter</button>
          </div>
      </form>

    </div>
  </div>
</div>
