{% load rest_framework %}
{% load template_extra %}

<div class="modal fade" id="FilterModal" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Filter </h5>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <form id="filterform" action="" method="GET">
          <div class="modal-body">
            <!--<p><mark> date filtering doesnt work.</mark></p>-->
            {{ filter.form.tags.errors }}


            {#  this is only for the Courselist filter #}
            {% if autocompleteSubject %}
            <div class="form-group ">
            <label>
              Instructor <i>(pennkey)</i>
              </label>
              {{ autocompleteUser.username }}
              {{ autocompleteUser.media }}
            </div>
            <div class="form-group">
              <label> Subject <i>(abbreviation)</i></label>
              {{ autocompleteSubject.abbreviation }}
              {{ autocompleteSubject.media }}
            </div>


            <div class="form-group">
                {{ filter.form.term.errors }}
                <label for="{{ filter.form.term.id_for_label }}">Term</label>
                {{ filter.form.term }}
            </div>

            <div class="form-group">
                {{ filter.form.school.errors }}
                <label for="{{ filter.form.term.id_for_label }}">School</label>
                {{ filter.form.school }}
            </div>

            <div class="form-group">
                {{ filter.form.activity.errors }}
                <label for="{{ filter.form.term.id_for_label }}">Activity</label>
                {{ filter.form.activity }}
            </div>

            {% else %}

            {#  heres stuff for the Requestlist filter #}
            
            <div class="form-group">
                {{ filter.form.status.errors }}
                <label for="{{ filter.form.term.id_for_label }}">Status</label>
                {{ filter.form.status }}
            </div>

            <div class="form-group">
                {{ filter.form.requestor.errors }}
                <label for="{{ filter.form.term.id_for_label }}">Requestor</label>
                {{ filter.form.requestor }}
            </div>

            <div class="form-group">
              {{ filter.form.school.errors }}
              <label for="{{ filter.form.term.id_for_label }}">School</label>
              {{ filter.form.school }}
          </div>

          <div class="form-group">
            {{ filter.form.term.errors }}
            <label for="{{ filter.form.term.id_for_label }}">Term</label>
            {{ filter.form.term }}
          </div>


            {% endif %}





              {# {{ filter.form.as_p }} #}

          </div>
          <div class="modal-footer">
            <button onSubmit="mySubmitFunction()" id="submit-id-" type="submit" value="Submit" style="font-weight: 600;">Filter</button>
          </div>
      </form>

    </div>
  </div>
</div>
