

{% load rest_framework %}
{% load template_extra %}



<p> Course site title will default to <i> {{ course.course_name }}  </i>. You may modify it in the box provided below. </p>
{% render_field request_form.title_override style=style %}

<p> If you would like to copy content from an existing course site, please click 'Select Copy' and select the source from the list.</p>

{#{% if staff %}#}
{#{% render_field request_form.copy_from_course style=style %}#}


{#{% else %}#}
<div class="form-group ">
    <label>Copy from course</label>
    {{copy_from_course}}
<div class="input-group mb-3">
  {% if request_instance.copy_from_course %}
    {% if staff %}
    <input name="copy_from_course" value="{{request_instance.copy_from_course}}" type="text" class="form-control" placeholder="Canvas Id" aria-label="Canvas ID for content copy" style="width:unset;margin-bottom:8px;">
    {% else %}
    <input name="copy_from_course" value="{{request_instance.copy_from_course}}" type="text" class="form-control" placeholder="Canvas Id" aria-label="Canvas ID for content copy" style="width:unset;margin-bottom:8px;" disabled>
    {% endif %}
  {% else %}
    {% if staff %}
      <input name="copy_from_course" value="" type="text" class="form-control" placeholder="Canvas Id" aria-label="Canvas ID for content copy" style="width:unset;margin-bottom:8px;">
    {% else %}
      <input name="copy_from_course" value="" type="text" class="form-control" placeholder="Canvas Id" aria-label="Canvas ID for content copy" style="width:unset;margin-bottom:8px;" disabled>
    {% endif %}
  {% endif %}
  <div class="input-group-append">
    <button class="btn btn-outline-secondary accent-button" type="button" data-toggle="modal"  data-target="#ContentCopy" style='z-index:unset;'>Select Copy</button>
  </div>
</div>

</div>

{% include "bits/copy_course_modal.html" %}

{#{% endif %}#}

<fieldset>
  <legend><h6 style="margin:0;">Mulit-Section Course Sites </h6></legend>
  <div class="form-group ">
    <p style="font-size:0.9rem;">Sections of a course can share a single Canvas site.In addition to specifying the additional sections below please write them in the Additional Instructions section.
      <i class="fas fa-info-circle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
    </p>
    <div class="collapse" id="collapseExample">
    <p style="font-size:0.9rem;"> If you are teaching a large introductory course or several sections of a course, you can have the sections broken out into a single site.
       Please select all sections you would like included. If a course is gray-ed out that means it has been already requested in another course request and therefore cannot be added to this one
    </p>
  </div>
    {% if course.sections %} <!-- if there are sections -->
        <div class="contain-table vertical-center">

          <table style="max-width:500px;">
            <thead>
              <tr>
                <th>Select</th>
                <th>Course Code</th>
                <th>Activity</th>
                <th>Request Status</th>
              </tr>
          </thead>
          <tbody>
        {% for section_code,section_activity,section_requested in course.sections %}

          {% if section_code in request_instance.additional_sections %}
            <tr>
              <td>
                <!-- check if already requested -> cannot be requested -->
                <input  name="additional_sections[{{ forloop.counter0 }}][course_code]" value="{{section_code}}" class="form-control" type="checkbox" checked>
              </td>
              <td> {{section_code}}</td> <td> {{section_activity}} </td> <td> {{section_requested}}</td>
            </tr>
          {# must be in some other request! #}
          {% elif section_requested %}
            <tr style="background:#e9ecef;">
              <td>
                <!-- check if already requested -> cannot be requested -->
                <span tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
                <input  name="additional_sections[{{ forloop.counter0 }}][course_code]" value="{{section_code}}" class="form-control" type="checkbox" disabled>
              </span>
              </td>
              <td> {{section_code}}</td> <td> {{section_activity}} </td> <td> {{section_requested}}</td>
            </tr>

          {% else %}
          <tr >
            <td>
              <!-- check if already requested -> cannot be requested -->
              <input  name="additional_sections[{{ forloop.counter0 }}][course_code]" value="{{section_code}}" class="form-control" type="checkbox">
            </td>
            <td> {{section_code}}</td> <td> {{section_activity}} </td> <td> {{section_requested}}</td>
          </tr>
          {% endif %}


        {% endfor %}
      </tbody>
    </table>

    <small> </small>
    {% else %}
    <center><i><p>There are no other sections associated with this course. </p></i></center>
    {% endif %}
  </div>
</fieldset>

  <fieldset>
    <legend><h6 style="margin:0;">Library Services</h6></legend>
    <p> Course Reserve services are available to your course. See <a target="_blank" href="http://www.library.upenn.edu/using-libraries/reserves"> http://www.library.upenn.edu/using-libraries/reserves</a> for more information.</p>

    {% render_field request_form.reserves style=style %}
  </fieldset>


  <fieldset>
    <legend><h6 style="margin:0;">Add Additional Users </h6></legend>
    <p> Batch Enrollment Processes will pull in any Instructors or TAs listed in the Registrar. To add other users to the Canvas site you can specify them below. If you recieve an error when trying to add an enrollment, try to proxy as the user in the box at the top of the page to ensure they are an user in the CRF.</p>

    <fieldset id="additional_enrollments" style="border:none;padding-right:0px;padding-left:0px;margin-top:0px;">

      {% if request_instance.additional_enrollments %}
        {% for enrollment in request_instance.additional_enrollments %}

          <div id="addEnroll-{{ forloop.counter0 }}" class="row vertical-center" style="">
            <label style="width: 45%;" for="name">
            User(pennkey)
            <input  name="additional_enrollments[{{ forloop.counter0 }}][user]" value="{{enrollment.user}}" class="form-control" type="text">
            </label>
            <label>
          Role
          <!--<input name="additional_enrollments[0][role]" value="" class="form-control" type="text">-->
          <select id="choose" name="additional_enrollments[{{ forloop.counter0 }}][role]" >
            <option disabled>Please select</option>
            <option value="TA" {% if enrollment.role == "TA" %} selected {% endif %}>TA</option>
            <option value="DES" {% if enrollment.role == "DES" or enrollment.role == "designer" %} selected {% endif %}>Designer</option>
            <option value="LIB" {% if enrollment.role == "LIB" or enrollment.role == "librarian"  %} selected {% endif %}>Librarian</option>
            <option value="INST" {% if enrollment.role == "INST" or enrollment.role == "instructor" %} selected {% endif %}>Instructor</option>
          </select>
            </label>
          <a onClick="removeElement('additional_enrollments', 'addEnroll-{{ forloop.counter0 }}');" style="padding-left:5px;"> Delete <i class="fas fa-times"></i></a>
        </div>
      {% endfor %}
    {% else %}

    <!-- to validate this see https://stackoverflow.com/questions/5272433/html5-form-required-attribute-set-custom-validation-message -->
        <div id="addEnroll-1" class="row vertical-center" style="">
          <label style="width: 45%;">
            user
          <input name="additional_enrollments[0][user]" value="" class="form-control" type="text">
          </label>
          <label>
          role
          <!--<input name="additional_enrollments[0][role]" value="" class="form-control" type="text">-->
          <select id="choose" name="additional_enrollments[0][role]" >
            <option disabled selected>Please select</option>
            <option value="TA">TA</option>
            <option value="DES">Designer</option>
            <option value="LIB">Librarian</option>
            <option value="INST">Instructor</option>

          </select>
          </label>
          <a onClick="removeElement('additional_enrollments', 'addEnroll-1');" style="padding-left:5px;"> Delete <i class="fas fa-times"></i></a>
        </div>
    {% endif %}
    </fieldset>
    <div onclick="addrow()"> <a>
      <i class="fas fa-plus"></i> add another </a>
    </div>



  </fieldset>


{% render_field request_form.additional_instructions style=style %}

  {% if staff %}
  <fieldset>
    <legend><h6 style="margin:0;">Admin</h6></legend>
    <label> Admin Notes</label>
    <textarea name="admin_additional_instructions" class="form-control"> {{ request_instance.admin_additional_instructions }}</textarea>
  </fieldset>
  {% endif %}


<!-- here is the field to edit the subaccount that is associated with the course.
  this is not going to implemented yet
 -->
