<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Canvas Site Automation for UPenn">
    <meta name="keywords" content="">

    <title>Course Request Form</title>
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- boostrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon_book.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <!-- logout / login info goes in header-->
    <header >
      <div class="text-right" >
        <a href="/logout" style="padding-right:15px;">
          < username >,  logout
          <i class="fas fa-sign-out-alt"></i></a>
      </div>
     </header>

    <div class="primitive">
    <div class="flex-container">
      <aside class="fixed">
        <div class="toggle-nav"></div>
        <h1> <a href="/"> CRF</a></h1>
        <nav style="display: none;" >
          <ul>
              <li class="title">Main</li>
              <li><a href="/">Home</a></li>
              <li><a href="/requests">Requests</a></li>
              <li class="title">Browse</li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/schools">Schools</a></li>
              <li><a href="/subjects">Subjects</a></li>

              <li class="title">Admin</li>
              <li><a href="">Manage Auto-Adds</a></li>
              <li><a href="">Manage Subaccount Mappings</a></li>
              <li><a href="">Manage Users</a></li>
          </ul>
            <!-- need to find a way to push this to the bottom -->
          <div id="references" class="medium-container vertical-center" style="padding-bottom:25px;">
              <a href="https://crf-doc.readthedocs.io/en/latest/?#">Docs</a> //
              <a href="/contact">Contact</a>

          </div>
        </nav>
      </aside>

      <main class="content margin" id="main-content">


          
           <ul>
             <li>{{allowed_methods}} : A list of methods allowed by the resource</li>
             <li>{{api_settings}} : The API settings</li>
             <li>{{available_formats}} : A list of formats allowed by the resource</li>
            <li>{{ breadcrumblist}} : The list of links following the chain of nested resources</li>
            <li> {{content}} : The content of the API response</li>
            <li> {{description}} : The description of the resource, generated from its docstring</li>
            <li> {{name}} : The name of the resource</li>
          <li>   {{post_form}} : A form instance for use by the POST form (if allowed)</li>
          <li>   {{put_form}} : A form instance for use by the PUT form (if allowed)</li>
          <li>   {{display_edit_forms}} : A boolean indicating whether or not POST, PUT and PATCH forms will be displayed</li>
          <li>   {{request}} : The request object</li>
          <li>   {{response}} : The response object</li>
          <li>   {{version}} : The version of Django REST Framework</li>
          <li>   {{view}} : The view handling the request</li>
          <li>   {{FORMAT_PARAM}} : The view can accept a format override</li>
        <li>     {{METHOD_PARAM}} : The view can accept a method override</li>
           </ul>


           {% block content %}{% endblock %}

        <!--  <footer class="footer text-center">
					       <div class="medium-container" >

                         <i>footer content</i>
					</div>
				</footer>-->
      </main>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://taniarascia.github.io/primitive/js/prism.js"></script>
<!--<script src="https://taniarascia.github.io/primitive/js/example.js"></script>-->
<script>
// Toggle nav
$('.toggle-nav').click(function (e) {
  if ($('.toggle-nav').hasClass('active')) {
    $('.toggle-nav').removeClass('active');
    $('#references').show();
  } else {
    $('.toggle-nav').addClass('active');
    $('#references').hide();
  }
  $('aside nav').toggle();
  e.stopPropagation();

});
$('html').click(function () {
  $('aside nav').hide();
  $('.toggle-nav').removeClass('active');
  $('#references').show();
});

$('.close-notification i').click(function (e) {
  if ($('blockquote').hasClass('show')) {
    $('blockquote').removeClass('show'); // removing the show class adds the expand icon
    $('.message').hide();
    $('.default').show();
    $('.close-notification i').removeClass('fa-times');
    $('.close-notification i').addClass('fa-plus');
  } else {
    $('blockquote').addClass('show');
    $('.message').show();
    $('.default').hide();
    $('.close-notification i').removeClass('fa-plus');
    $('.close-notification i').addClass('fa-times');
  }
});
</script>
<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
